body{
    margin: 0;
    background-color: #bababa;
}
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    width: 420px;
    border: 10px solid #848484;
    border-radius: 16px;
}
.copy{
    height: 40px;
    background-color: #5B06D6;
}
.copyright{
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    font-family: Verdana;
    font-weight: bolder;
    color: #ffffff;
    padding-top: 6px;
}
.linha{
    display: flex;
    flex-direction: row;
}
.casa{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #848484;
    background-color: #5B06D6;
    width: 120px;
    height: 120px;
    color: #ffffff;
}
.button{
    position: absolute;
    top: 88%;

    height: 40px;
    width: 120px;
    
    background-color: #9a9a9a;
    border-radius: 4px;

    font-weight: bolder;
}
.button:hover{
    cursor: pointer;
}
.jogadas{
    font-size: 50px;
    font-weight: bolder;
}
.ganhador{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
.buttonEndGame{
    position: absolute;
    top: 88%;
    left: 50%;

    height: 40px;
    width: 120px;
    
    background-color: purple;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;

    font-weight: bolder;

    transform: translateX(-50%);
}
@media (max-width: 500px) {
    .table{
        width: 250px;
    }
    .casa{
        border-width: 2px;
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 500px) {
    .casa{
        border-width: 2px;
        width: 80px;
        height: 80px;
    }
}