body{
    margin: 0;
    background-color: #5B06D6;
}
.table{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
    width: 100%;
}
.copy{
    height: 30px;
    background-color: #5B06D6;
}
.copyright{
    margin-top: 0;
    text-align: center;
    font-size: 20px;

    font-weight: bolder;
    color: #6E096E;
}
.linha{
    display: flex;
    flex-direction: row;
}
.casa{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 10px groove rgb(255, 0, 255);
    width: 120px;
    height: 120px;
}
.button{
    position: absolute;
    top: 88%;

    height: 40px;
    width: 120px;
    
    background-color: purple;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;

    font-weight: bolder;
}
.button:hover{
    cursor: pointer;
}
.jogadas{
    font-size: 30px;
}
.ganhador{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
.buttonEndGame{
    position: absolute;
    top: 88%;
    left: 50%;

    height: 40px;
    width: 120px;
    
    background-color: purple;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;

    font-weight: bolder;

    transform: translateX(-50%);
}
@media (max-width: 500px) {
    .casa{
        border-width: 2px;
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 500px) {
    .casa{
        border-width: 2px;
        width: 80px;
        height: 80px;
    }
}